{% extends 'base.html' %}
{% block title %}Top 100 Coins{% endblock %}

{% block body %}
  

<div class="headers">
    <h1>The Best Crypto Exchanges Of 2021</h1>
    <h2>Forbes</h2>
</div>
     
<div class="exchanges">
  <a href="https://pro.coinbase.com/"><img src="static/css/coinbase_pro.png" class="Image"></a>
  <a href="https://cointracking.info/"><img src="static/css/CoinTracking.png" class="Image"></a>
  <a href="https://www.bibox.com/en"><img src="static/css/bibox.jpeg" class="Image"></a>
  <a href="https://www.bitrue.com/"><img src="static/css/bitrue.png" class="Image"></a>
  <a href="https://www.gemini.com/"><img src="static/css/gemini.png" class="Image"></a>
  <a href="https://coss.io"><img src="static/css/coss.jpeg" class="Image"></a>
  <a href="https://huobi.com/en-us/"><img src="static/css/huobi.jpeg" class="Image"></a>
  <a href="https://www.kraken.com/en-us/"><img src="static/css/kraken.jpeg" class="Image"></a>
  <a href="https://www.binance.us/en/home"><img src="static/css/binance.jpeg" class="Image"></a>
  <a href="https://crypto.com/"><img src="static/css/cryptodotcom.jpeg" class="Image"></a>
  <a href="https://gate.io/"><img src="static/css/gate.svg" class="Image"></a>
  <a href="https://kucoin.com/"><img src="static/css/kucoin.png" class="Image"></a>
  <a href="https://www.bitstamp.net/"><img src="static/css/bitstamp.png" class="Image"></a>
  <a href="https://bittrex.com/"><img src="static/css/bittrex.jpeg" class="Image"></a>
  <a href="https://bitflyer.com/en-us/"><img src="static/css/bitFlyer.jpeg" class="Image"></a>
  <a href="https://www.coinbase.com/"><img src="static/css/coinbase.png" class="Image"></a>
  <a href="https://www.bybit.com/en-US/"><img src="static/css/Bybit.png" class="Image"></a>
  <a href="https://cex.io/"><img src="static/css/CEX.jpg" class="Image"></a>
  <a href="https://cobinhood.com/"><img src="static/css/COBINHOOD.jpeg" class="Image"></a>
  <a href="https://www.coinspot.com.au/"><img src="static/css/CoinSpot.png" class="Image"></a>
  <a href="https://www.coinjar.com/"><img src="static/css/coinjar.jpeg" class="Image"></a>
  <a href="https://coinlist.co/"><img src="static/css/coinlist.png" class="Image"></a>
  <a href="https://coinsquare.com/"><img src="static/css/Coinsquare.jpg" class="Image"></a>
  <a href="https://robinhood.com/us/en/"><img src="static/css/robinhood.png" class="Image"></a>

</div>


{% endblock %}