{% extends 'base.html' %}
{% block title %}Top 100 Coins{% endblock %}

{% block body %}



<p class="body">
</p><p>A public address is the cryptographic hash of a public key, allowing the user to use it as an address to request for payment.</p>
<p></p>
</div>
    <div class="info-component" data-letter="P">
<h2 class="title">
<a href="https://cryptoglossary.info/public-blockchain">


Public Blockchain
</a>
</h2>
<p class="body">
</p><p>A blockchain that can be accessed by anyone.</p>
<p></p>
</div>
    <div class="info-component" data-letter="P">
<h2 class="title">
<a href="https://cryptoglossary.info/public-key">


Public key
</a>
</h2>
<p class="body">
</p><p>This value does not have to be kept secret because the public key reveals nothing about the private key.</p>
<p></p>
</div>
    <div class="info-component" data-letter="P">
<h2 class="title">
<a href="https://cryptoglossary.info/pump-and-dump-pd-scheme">


Pump and Dump (P&amp;D) Scheme
</a>
</h2>
<p class="body">
</p><p>A form of securities fraud involving the artificial inflation of the price of a cryptocurrency with false and misleading positive statements in order to sell previously-cheaply purchased stock at a higher price.</p>
<p></p>
</div>
    <div class="info-component" data-letter="Q">
<h2 class="title">
<a href="https://cryptoglossary.info/qr-code">


QR Code
</a>
</h2>
<p class="body">
</p><p>A machine-readable label that shows information encoded into a graphical black-and-white pattern. For cryptocurrencies, it is often used to easily share wallet addresses with others.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/raiden-network">


Raiden Network
</a>
</h2>
<p class="body">
</p><p>An off-chain scaling solution aiming to enable near-instant, low-fee and scalable payments on the Ethereum blockchain. It is similar to Bitcoin's proposed&nbsp;Lightning Network.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/rank">


Rank
</a>
</h2>
<p class="body">
</p><p>The relative position of a cryptocurrency by&nbsp;market capitalization.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/rekt">


REKT
</a>
</h2>
<p class="body">
</p><p>A shorthand slang for “wrecked”, describing a bad loss in a trade.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/relative-strength-index-rsi">


Relative Strength Index (RSI)
</a>
</h2>
<p class="body">
</p><p>A form of technical analysis that serves as a momentum oscillator, measuring the speed and change of price movements, developed by J. Welles Wilder. It oscillates between zero and 100, where a cryptocurrency is considered overbought when the indicator is above 70 and oversold when below 30.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/replicated-ledger">


Replicated Ledger
</a>
</h2>
<p class="body">
</p><p>A copy of a distributed ledger in a network that is distributed to all participants in a cryptocurrency network.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/reverse-indicator">


Reverse Indicator
</a>
</h2>
<p class="body">
</p><p>A person whom you may use as an indicator of how&nbsp;not&nbsp;to place buy or sell orders because they are always wrong at predicting price movements of cryptocurrencies.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/ring-signature">


Ring Signature
</a>
</h2>
<p class="body">
</p><p>A method of increasing privacy, by fusing inputs of multiple signers with that of the original sender to authorize a transaction.</p>
<p></p>
</div>
    <div class="info-component" data-letter="R">
<h2 class="title">
<a href="https://cryptoglossary.info/roi">


ROI
</a>
</h2>
<p class="body">
</p><p>Short for “Return on Investment”, the ratio between the net profit and cost of investing.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/satoshi-sats">


Satoshi (SATS)
</a>
</h2>
<p class="body">
</p><p>The smallest unit of bitcoin with a value of 0.00000001 BTC.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/satoshi-nakamoto">


Satoshi Nakamoto
</a>
</h2>
<p class="body">
</p><p>The individual or group of individuals that created Bitcoin. The identity of Satoshi Nakamoto has never been confirmed.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/scam">


Scam
</a>
</h2>
<p class="body">
</p><p>A fraudulent or deceptive cryptocurrency or&nbsp;ICO.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/scrypt">


Scrypt
</a>
</h2>
<p class="body">
</p><p>An alternative&nbsp;Proof-of Work (PoW)&nbsp;algorithm to&nbsp;SHA-256, used in Bitcoin mining. Scrypt mining relies more heavily on memory than on pure&nbsp;CPU&nbsp;power, aiming to reduce the advantage that&nbsp;ASICs&nbsp;have and hence increasing network participation and energy efficiency.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/second-layer-solutions">


Second-Layer Solutions
</a>
</h2>
<p class="body">
</p><p>A set of solutions built on top of a public blockchain to extend its scalability and efficiency, especially for micro-transactions or actions. Examples include: Plasma, TrueBit,&nbsp;Lightning Network, and more.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/securities-and-exchange-commission-sec">


Securities and Exchange Commission (SEC)
</a>
</h2>
<p class="body">
</p><p>An independent agency of the United States federal government, responsible for enforcing federal securities laws, proposing securities rules, and regulating the securities industry, the nation's stock and options exchanges, and other related activities and organizations.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/seed-phrase">


Seed Phrase
</a>
</h2>
<p class="body">
</p><p>Seed phrase is a single starting point when deriving keys for a&nbsp;deterministic wallet. It is usually presented as a series of words to enable the owner to quickly backup or restore a wallet.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/segregated-witness-segwit">


Segregated Witness (SegWit)
</a>
</h2>
<p class="body">
</p><p>A&nbsp;Bitcoin Improvement Proposal (BIP)&nbsp;that aimed to fix transaction malleability on Bitcoin. In the past, when changing the “witness” information (signatures) on blocks, it would change the transaction ID and its subsequent hash; SegWit was aiming to fix this by segregating signature and block content; a side effect of this change was smaller block sizes and the ability to support second layer solutions.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/selfish-mining">


Selfish Mining
</a>
</h2>
<p class="body">
</p><p>A situation in which a miner mines a new block but does not broadcast this new block to the other miners. If this miner is able to find a second block faster than all other miners, then they would have created the longest public chain, invalidating all other blocks discovered in the time it took to execute this attack.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/sell-wall">


Sell Wall
</a>
</h2>
<p class="body">
</p><p>A situation where a large limit order has been placed to sell when a cryptocurrency reaches a certain value. This can sometimes be used by traders to create a certain impression in the market, preventing a cryptocurrency from rising above that value, as supply will likely outstrip demand when the order is executed.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/sha-256">


SHA-256
</a>
</h2>
<p class="body">
</p><p>A&nbsp;cryptographic hash function&nbsp;that generates a 256-bit signature for a text, used in Bitcoin&nbsp;Proof-of-Work (PoW). Standing for “Secure Hash Algorithm”, it is one of the SHA-2 algorithms, first designed by the NSA.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/sharding">


Sharding
</a>
</h2>
<p class="body">
</p><p>Sharding is a scaling approach that enables splitting of blockchain states into partitions containing states and transaction history so that each shard can be processed in parallel.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/shiba-token">


Shiba Token
</a>
</h2>
<p class="body">
</p><p>Shiba token is a Decentralized Meme Tokens, that grow into a vibrant ecosystem. SHIB is an experiment in decentralized spontaneous community building.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/shilling">


Shilling
</a>
</h2>
<p class="body">
</p><p>The act of enthusiastically promoting a cryptocurrency or&nbsp;ICO&nbsp;project.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/shitcoin">


Shitcoin
</a>
</h2>
<p class="body">
</p><p>A coin with no obvious potential value or usage.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/short">


Short
</a>
</h2>
<p class="body">
</p><p>A trading technique in which a trader borrows an asset in order to sell it, with the expectation that the price will continue to decline. In the event that the price does decline, the short seller will then buy the asset at this lower price in order to return it to the lender of the asset, making the difference in profit.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/side-chain">


Side Chain
</a>
</h2>
<p class="body">
</p><p>A blockchain ledger that runs in parallel to a primary blockchain, where there is a two-way link between the primary chain and sidechain. This allows the sidechain to operate independently of the primary blockchain, using their own protocols or ledger mechanisms.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/silk-road">


Silk Road
</a>
</h2>
<p class="body">
</p><p>An online black market that existed on the&nbsp;dark web, now shut down by the FBI. It had accepted bitcoins for transactions.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/simplified-payment-verification-spv">


Simplified Payment Verification (SPV)
</a>
</h2>
<p class="body">
</p><p>A lightweight client to verify blockchain transactions, downloading only block headers and requesting proof of inclusion to the blockchain in the&nbsp;Merkle Tree.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/smart-contract">


Smart contract
</a>
</h2>
<p class="body">
</p><p>A smart contract is a computer protocol intended to facilitate, verify, or enforce a contract on the blockchain without third parties.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/soft-cap">


Soft Cap
</a>
</h2>
<p class="body">
</p><p>The minimum amount that an&nbsp;initial coin offering (ICO)&nbsp;wants to raise. Sometimes, if the ICO is unable to raise the soft cap amount, it may be called off entirely.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/soft-fork-blockchain">


Soft Fork (Blockchain)
</a>
</h2>
<p class="body">
</p><p>A protocol upgrade where only previously valid transactions are made invalid, with most soft forks requiring miners to upgrade their mining software in order to enforce it.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/solidity">


Solidity
</a>
</h2>
<p class="body">
</p><p>The programming language used by Ethereum for developing smart contracts.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/spot">


Spot
</a>
</h2>
<p class="body">
</p><p>A contract or transaction buying or selling a cryptocurrency for immediate settlement, or payment and delivery, of the cryptocurrency on the market.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/spot-market">


Spot Market
</a>
</h2>
<p class="body">
</p><p>A public market in which cryptocurrencies are traded for immediate settlement. It contrasts with a futures market, in which settlement is due at a later date.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/stablecoin">


Stablecoin
</a>
</h2>
<p class="body">
</p><p>A cryptocurrency with extremely low volatility, sometimes used as a means of portfolio diversification. Examples include&nbsp;gold-backed cryptocurrency&nbsp;or&nbsp;fiat-pegged cryptocurrency.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/staking">


Staking
</a>
</h2>
<p class="body">
</p><p>Participation in a&nbsp;Proof-of-Stake (PoS)&nbsp;system to put your tokens in to serve as a validator to the blockchain and receive rewards.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/stale-block">


Stale Block
</a>
</h2>
<p class="body">
</p><p>A block which was successfully mined but not included on the current longest blockchain, usually because another block at the same height was added to the chain first.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/state-channel">


State Channel
</a>
</h2>
<p class="body">
</p><p>A second-layer scaling solution that reduces the total on-chain transactions necessary, moving the transactions off-chain and letting participants sign to the main chain after multiple off-chain transactions.</p>
<p></p>
</div>
    <div class="info-component" data-letter="S">
<h2 class="title">
<a href="https://cryptoglossary.info/symbol">


Symbol
</a>
</h2>
<p class="body">
</p><p>The&nbsp;ticker&nbsp;of a cryptocurrency; for example, Bitcoin’s symbol is BTC.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/taint">


Taint
</a>
</h2>
<p class="body">
</p><p>The percentage of cryptocurrency in an account that can be traced to another account.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/tangle">


Tangle
</a>
</h2>
<p class="body">
</p><p>The Tangle is a blockchain alternative developed by IOTA, using directed acyclic graphs which only builds in one single direction and in a way that it never repeats, and is quantum-computing resistant.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/technical-analysis-trend-analysis-ta">


Technical Analysis / Trend Analysis (TA)
</a>
</h2>
<p class="body">
</p><p>An evaluation method involving statistical analyses of market activity, such as price and volume. Charts and other tools are used to identify patterns to underpin and drive investment decisions.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/testnet">


Testnet
</a>
</h2>
<p class="body">
</p><p>An alternative blockchain used by developers for testing.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/tether">


Tether
</a>
</h2>
<p class="body">
</p><p>The&nbsp;Tether&nbsp;is often abbreviated as USDT on exchanges. This is a non-government regulated ‘stablecoin’ with a value of around 1 US dollar. The company behind this coin claims that every Tether in circulation is covered with real dollars on their bank account.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/think-long-term-tlt">


Think Long Term (TLT)
</a>
</h2>
<p class="body">
</p><p>A mindset where you have a longer-term investment horizon of months to years.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/this-is-gentlemen">


This is Gentlemen
</a>
</h2>
<p class="body">
</p><p>Originally an error in writing the full “This is it, gentlemen”. It is now used as an introduction for good news.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/ticker">


Ticker
</a>
</h2>
<p class="body">
</p><p>An abbreviation used to uniquely identify cryptocurrencies.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/timelock-locktime">


Timelock / Locktime
</a>
</h2>
<p class="body">
</p><p>A condition for a transaction to only be processed at a certain time or block on the blockchain.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/timestamp">


Timestamp
</a>
</h2>
<p class="body">
</p><p>A form of identification for when a certain transaction occurred, usually with date and time of day and accurate to fractions of a second.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/token">


Token
</a>
</h2>
<p class="body">
</p><p>A digital unit designed with utility in mind, providing access and use of a larger cryptoeconomic system. It does not have store of value on its own, but are made so that software can be developed around it.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/token-generation-event">


Token Generation Event
</a>
</h2>
<p class="body">
</p><p>The time at which a&nbsp;token&nbsp;is issued.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/tokenize">


Tokenize
</a>
</h2>
<p class="body">
</p><p>The process by which real-world assets are turned into something of digital value called a token, often subsequently able to offer ownership of parts of this asset to different owners.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/tor">


Tor
</a>
</h2>
<p class="body">
</p><p>Tor is free software for enabling anonymous communication. The name is derived from an acronym for the original software project name "The Onion Router". It consists of a network of volunteer relays to conceal users’ location and usage.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/total-supply">


Total Supply
</a>
</h2>
<p class="body">
</p><p>The total amount of coins in existence right now, minus any coins that have been verifiably&nbsp;burned.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/trade-volume">


Trade Volume
</a>
</h2>
<p class="body">
</p><p>Is the amount of the cryptocurrency that has been traded in the last 24 hours.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/trading-bot">


Trading Bot
</a>
</h2>
<p class="body">
</p><p>A trading bot is an algorithm that trades for a trader on a stock exchange or crypto exchange. Trading bots are used by both professionals and amateurs.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/transaction-tx">


Transaction (TX)
</a>
</h2>
<p class="body">
</p><p>The act of exchanging cryptocurrencies on a blockchain.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/transaction-fee">


Transaction Fee
</a>
</h2>
<p class="body">
</p><p>A payment for using the blockchain to transact.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/trezor">


Trezor
</a>
</h2>
<p class="body">
</p><p>The&nbsp;Trezor&nbsp;is a popular ‘Hardware Wallet’, which supports multiple blockchains.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/trustless">


Trustless
</a>
</h2>
<p class="body">
</p><p>A property of the blockchain, where no participant needs to trust any other participant for transactions to be enforced as intended.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/tumbler">


Tumbler
</a>
</h2>
<p class="body">
</p><p>Another name for a&nbsp;mixing service.</p>
<p></p>
</div>
    <div class="info-component" data-letter="T">
<h2 class="title">
<a href="https://cryptoglossary.info/turing-complete">


Turing-Complete
</a>
</h2>
<p class="body">
</p><p>Turing-complete refers to the ability of a machine to perform calculations that any other programmable computer is capable of. An example of this is the&nbsp;Ethereum Virtual Machine (EVM).</p>
<p></p>
</div>
    <div class="info-component" data-letter="u">
<h2 class="title">
<a href="https://cryptoglossary.info/ubtc">


uBTC
</a>
</h2>
<p class="body">
</p><p>u฿ or uBTC are MilliBitcoin. 1 uBTC is equal to 0.000001 Bitcoin "BTC".</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/unconfirmed">


Unconfirmed
</a>
</h2>
<p class="body">
</p><p>A state in which a transaction has not been appended to the blockchain.</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/unpermissioned-ledger">


Unpermissioned Ledger
</a>
</h2>
<p class="body">
</p><p>A public blockchain.</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/unspent-transaction-output">


Unspent Transaction Output
</a>
</h2>
<p class="body">
</p><p>An output of a blockchain transaction that has not been spent, and can be used as an input for new transactions.</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/usdt">


USDT
</a>
</h2>
<p class="body">
</p><p>See&nbsp;<a title="Tether" href="/tether">Tether</a>&nbsp;for the meaning of USDT.</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/utc-time">


UTC Time
</a>
</h2>
<p class="body">
</p><p>Coordinated Universal Time. It is the primary time standard by which the world regulates clocks and time, kept using highly precise atomic clocks combined with the Earth’s rotation.</p>
<p></p>
</div>
    <div class="info-component" data-letter="U">
<h2 class="title">
<a href="https://cryptoglossary.info/uxto">


UXTO
</a>
</h2>
<p class="body">
</p><p>UXTO is the abbreviation of ‘Unspent Transaction Output’. The total balance of bitcoins on an address can be spread over multiple blocks in the blockchain. The unspent bitcoins have a UXTO attribute. By searching the blockchain for the UXTO’s, which belong to a ‘wallet’ address, the total spendable balance can be determined. This is displayed by the wallet when it is fully synchronised.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/validator">


Validator
</a>
</h2>
<p class="body">
</p><p>A participant on a&nbsp;Proof-of-Stake (PoS)&nbsp;blockchain, involved in validating blocks for rewards.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/vanity-address">


Vanity Address
</a>
</h2>
<p class="body">
</p><p>A cryptocurrency public address with custom letters and numbers, usually picked by its owner.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/vaporware">


Vaporware
</a>
</h2>
<p class="body">
</p><p>A cryptocurrency project that is never actually developed.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/vaporware-aka-vapourware">


Vaporware (aka Vapourware)
</a>
</h2>
<p class="body">
</p><p>Vaporware is a term that comes from the software world to indicate announced, but not released or cancelled software. In the cryptocurrency world this also happens, but the term “Shitcoin” is more common.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/venture-capital">


Venture Capital
</a>
</h2>
<p class="body">
</p><p>A form of private equity provided to fund small, early-stage firms considered to have high growth potential.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/virgin-bitcoin">


Virgin Bitcoin
</a>
</h2>
<p class="body">
</p><p>A bitcoin that has never been spent.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/vitalik-buterin">


Vitalik Buterin
</a>
</h2>
<p class="body">
</p><p>Vitalik Buterin is a programmer of Canadian-Russian descent. He is the inventor of ‘Smart Contracts’ and co-founder of Ethereum.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/volatility">


Volatility
</a>
</h2>
<p class="body">
</p><p>A statistical measure of dispersion of returns, measured by using the standard deviation or variance between returns from that same security or market index.</p>
<p></p>
</div>
    <div class="info-component" data-letter="V">
<h2 class="title">
<a href="https://cryptoglossary.info/volume">


Volume
</a>
</h2>
<p class="body">
</p><p>The amount of cryptocurrency that has been traded during a certain period of time, such as the last 24 hours or more. Volume can show the direction and movement of the cryptocurrency as well as a prediction of future price and its demand.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/wallet">


Wallet
</a>
</h2>
<p class="body">
</p><p>A cryptocurrency wallet is a secure digital wallet used to store, send, and receive digital currency, and are divided into two categories:&nbsp;hosted wallets&nbsp;and&nbsp;cold wallets.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/wash-trade">


Wash Trade
</a>
</h2>
<p class="body">
</p><p>A form of market manipulation in which investors create artificial activity in the marketplace by simultaneously selling and buying the same cryptocurrencies.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/watchlist">


Watchlist
</a>
</h2>
<p class="body">
</p><p>A watchlist is a feature of the website where users can create their own lists of cryptocurrencies to follow. Alternative definition: A watchlist is a set of pages a user has selected to monitor for changes.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/weak-hands">


Weak Hands
</a>
</h2>
<p class="body">
</p><p>An investor prone to panic selling at the first sign of a price decline.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/wei">


Wei
</a>
</h2>
<p class="body">
</p><p>The smallest fraction of an Ether, with each Ether to 1000000000000000000 Wei.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/whale">


Whale
</a>
</h2>
<p class="body">
</p><p>A term used to describe investors who have uncommonly large amounts of crypto, especially those with enough funds to manipulate the market.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/when-lambo">


When Lambo
</a>
</h2>
<p class="body">
</p><p>The extended-expression for&nbsp;Lambo.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/when-moon">


When Moon
</a>
</h2>
<p class="body">
</p><p>The extended-expression for&nbsp;Moon.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/whitelist">


Whitelist
</a>
</h2>
<p class="body">
</p><p>A “Whitelist” is a list of approved participants, who may participate in an ICO or Pre-ICO. A ‘whitelist’ is not always used, but it is usually used to generate ‘hype’ and exclusivity for the ICO.</p>
<p></p>
</div>
    <div class="info-component" data-letter="W">
<h2 class="title">
<a href="https://cryptoglossary.info/whitepaper">


Whitepaper
</a>
</h2>
<p class="body">
</p><p>A document prepared by an&nbsp;ICO&nbsp;project team to interest investors with its vision, cryptocurrency use and cryptoeconomic design, technical information, and a roadmap for how it plans to grow and succeed.</p>
<p></p>
</div>
    <div class="info-component" data-letter="X">
<h2 class="title">
<a href="https://cryptoglossary.info/xbt">


XBT
</a>
</h2>
<p class="body">
</p><p>XBT is an alternative abbreviation for Bitcoin (BTC) and is the official ISO 4217 standard. It is country independent. The abbreviation for gold is XAU.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="Y">
<h2 class="title">
<a href="https://cryptoglossary.info/yellowpaper">


Yellowpaper
</a>
</h2>
<p class="body">
</p><p>A ‘yellowpaper’ is a research document. It describes a more in-depth and technical analysis. The purpose of this document is to inform those involved and interested.&nbsp;</p>
<p></p>
</div>
    <div class="info-component" data-letter="Y">
<h2 class="title">
<a href="https://cryptoglossary.info/ytd">


YTD
</a>
</h2>
<p class="body">
</p><p>Stands for Year to Date.</p>
<p></p>
</div>
    <div class="info-component" data-letter="Z">
<h2 class="title">
<a href="https://cryptoglossary.info/zero-confirmation-transaction">


Zero Confirmation Transaction
</a>
</h2>
<p class="body">
</p><p>Alternative phrasing for an unconfirmed transaction.</p>
<p></p>
</div>
    <div class="info-component" data-letter="Z">
<h2 class="title">
<a href="https://cryptoglossary.info/zero-knowledge-proof">


Zero Knowledge Proof
</a>
</h2>
<p class="body">
</p><p>In cryptography, a zero-knowledge proof enables one party to provide evidence that a transaction or event happened without revealing private details of that transaction or event.</p>
<p></p>
</div>
    <div class="info-component" data-letter="Z">
<h2 class="title">
<a href="https://cryptoglossary.info/zerocoin-protocol">


Zerocoin (protocol)
</a>
</h2>
<p class="body">
</p><p>Zerocoin, also known as Zerocoin protocol, is originally a proposal to give Bitcoin a privacy function. It is currently implemented by, among others, the coins&nbsp;Zcoin&nbsp;and&nbsp;PivX. Read more about this in this&nbsp;detailed description of zerocoin.<br>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
</div>
</div>

{% endblock %}
