{% extends 'base.html' %}

{% block title %} Glossary {% endblock %}



{% block js %}
	<script src="/static/js/glossary.jsx" type="text/jsx"></script>
    <link href="/static/css/site.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block body %}

<!-- Mount your react components on to this element. -->
<div id="app"></div>
  

{% endblock %}

  
