{% extends 'base.html' %}
{% block title %}Top 100 Coins{% endblock %}

{% block body %}
  

  <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
      <i class="fas fa-user" aria-hidden="true"></i>
      <form action="/login" method="POST">
           <input type="text" placeholder="Email" name="email">
      </div>
      <div class="textbox">
        <i class="fas fa-lock" aria-hidden="true"></i>
          <input type="password" placeholder="Password" name="password">
      </div>
    
      <input class="submit-btn" type="submit">
    
  </form>

{% endblock %}
